.app-body {
    float: right;
    padding: 0.5rem;
    margin-top: 10vh;
}

.pagination-button{
    background-color: #fff;
    color: #cad1dc;
    width: 32px;
    height: 32px;
}
.pagination-button:hover,
.pagination-button-previous:hover,
.pagination-button-next:hover {
    border-color: #1890ff;
    color: #1890ff;
    transition: all .3s;
    cursor: pointer;
}

.pagination-button-previous , .pagination-button-next{
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
}