.isaco-img{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.news-info {
    margin-top: -50px;
    width: 85%;
}
.news-title {
    font-size: 1rem;
}
.news-exp {
    font-size: small;
}
.news-description {
    font-size: small;
    text-align: justify !important;
}
.news-more {
    font-size: small;
}
